In [1]:
import os
import scipy.io as sio
import pandas as pd
import numpy as np
#maybe only keep 4 decimals for all the results  - do it later

In [2]:
EmpSeCTot = np.array([[500,1]])

EmpSeC = np.array([[100,1],   
                   [100,1],
                   [100,1]])

In [3]:
EmpSeCTot * EmpSeC

array([[50000,     1],
       [50000,     1],
       [50000,     1]])

In [4]:
a = pd.DataFrame(EmpSeC)
a

     0  1
0  100  1
1  100  1
2  100  1

In [5]:
### print dependences

%load_ext watermark

#show version, machine, and package information
%watermark -v -m -p scipy,json,numpy,pandas,watermark

# date -  u:"Last updated, n:day and month names, t:time, z:zone
%watermark -u -n -t -z

Python implementation: CPython
Python version       : 3.7.6
IPython version      : 7.12.0

scipy    : 1.4.1
json     : 2.0.9
numpy    : 1.20.1
pandas   : 1.2.3
watermark: 2.2.0

Compiler    : Clang 4.0.1 (tags/RELEASE_401/final)
OS          : Darwin
Release     : 20.3.0
Machine     : x86_64
Processor   : i386
CPU cores   : 8
Architecture: 64bit

Last updated: Mon Aug 16 2021 15:23:47BST